@import "variables";
@import "bootstrap";
@import "bootswatch";

.navbar {
  margin-bottom: 0;
  box-shadow: none;
  border-bottom: 1px solid #ececec;
}
.login-screen{
  .title{
    font-size: 100px;
  }
  .login-buttons{
    margin-top: 100px;
    .btn{
      margin-top: 10px;
    }
    .btn:hover{
      margin-top: 11px;
    }
  }
}
.main-screen{
  .menu{
    overflow: scroll;
    height: 90vh;
    float: left;
    background-color: #f8f8f8;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 0 20px 20px 20px;
    .btn{
      font-size: 14px;
      box-shadow: none;
      border: 1px solid #ececec;
      margin-top: 20px;
    }
  }
  .notes-list{
    height: 90vh;
    float: left;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    overflow: scroll;
    .new-note{
      height: 75px;
      border-bottom: 1px solid #ececec;
      h1{
        font-size: 20px;
        margin: 0;
        padding: 26px 0 0 0;
      }
    }
    .new-note:hover{
      cursor: pointer;
      background-color: #ecf0f1;
    }
    .note{
      display: flex;
      height: 75px;
      border-bottom: 1px solid #ececec;
      .note-date{
        align-items: stretch;
        padding: 5px;
        height: 100%;
        width: 75px;
        p{
          margin-bottom: 3px;
          padding: 0 10px 0 10px;
        }
      }
      .note-content{
        // align-items: stretch;
        padding: 5px;
        height: 100%;
        p, h1{
          margin-top: 3px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .blue-date{
        color: #ecf0f1;
        background-color: #3498db;
        border-bottom: 1px solid #2980b9;
        border-right: 1px solid #2980b9;
      }
      .red-date{
        color: #ecf0f1;
        background-color: #e74c3c;
        border-bottom: 1px solid #c0392b;
        border-right: 1px solid #c0392b;
      }
      .green-date{
        color: #ecf0f1;
        background-color: #2ecc71;
        border-bottom: 1px solid #27ae60;
        border-right: 1px solid #27ae60;
      }
      h1, h2, h3, h4, p{
        margin: 0;
      }
      h1{
        margin-bottom: 4px;
      }
    }
    .note:hover, .active{
      cursor:pointer;
      background-color: #ecf0f1;
      .blue-date{
        background-color: #2980b9;
      }
      .red-date{
        background-color: #c0392b;
      }
      .green-date{
        background-color: #27ae60;
      }
      .note-content{
        background-color: #ecf0f1;
      }
    }
  }
  .display-note{
    overflow: scroll;
    padding: 10px;
    height: 90vh;
    float: left;
    hr {
      margin-top: 10px;
    }
    h1{
      font-size: 40px;
    }
    h2 {
      font-size: 40px;
    }
    h3{
      font-size: 20px;
    }
    h1, h2, h3, p{
      margin: 10px;
    }
  }
}
