/* Main Styles */

body{
	background-color: #2ecc71;
	color: #ecf0f1;
	font-family: 'Roboto', sans-serif;
}

input{
	background-color: transparent;
	border: none;

}

h1{
	font-size: 40px;
	padding-bottom: 20px;
}

form{
	padding-bottom: 20px;
}

.todo-input{
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ecf0f1;
	font-size: 30px;
	width: 100%;
}

.todo-input input{
	width: 100%;
}


.todo-item button{
	background-color: #2ecc71;
	color: #ecf0f1;
	border: none;
	font-size: 30px;
}

.todo-item button:hover{
	text-decoration: line-through;
}

.search-input{
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ecf0f1;
	font-size: 30px;
	width: 100%;
}

.search-input input{
	width: 100%;
}

/* Various Fixes */

textarea:focus, input:focus, button:focus{
    outline: none;
}

::-webkit-input-placeholder {
   color: #27ae60;
}

:-moz-placeholder { /* Firefox 18- */
   color: #27ae60;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #27ae60;  
}

:-ms-input-placeholder {  
   color: #27ae60;  
}
